<%- include("templates/header_LL") %>
<div class="container">
    <h1>Announcements</h1>
    <div class="spacer">
        List of announcements goes here
    </div> 
    
    <h1>New Announcement</h1>
    <div class="spacer">
        "New Announcement" is a button to create a new announcement.
    </div>
</div>


<%- include("templates/footer") %>