<%- include("templates/header_tenant") %>
<div class="container">
    <h1>Announcements</h1>
    <div class="spacer">
        List of announcements from landlord goes here
    </div> 
</div>


<%- include("templates/footer") %>