<%- include("templates/header_LL") %>
<button>Create</button> <!-- Add create functionality-->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th s cope="col">CRUD</th>
    </tr>
  </thead>
  <tbody>
    <!-- Get data from DB -->
  </tbody>
</table>
<%- include("templates/footer") %>