<%- include("templates/header_tenant") %>
<div class="container">
    <h1>New Feedback</h1>
    <div class="spacer">
        "New Feedback" is a button to create a new feedback.
    </div>
    <h1>Feedback</h1>
    <div class="spacer">
        List of feedback from the same user goes here
    </div> 
</div>



<%- include("templates/footer") %>