<%- include("templates/header_LL") %>
<div class="container">
    <h1>Feedback</h1>
    <div class="spacer">
        List of feedback goes here. 
        <br>
        LL needs to view specific feedback to input updates.
    </div> 
</div>


<%- include("templates/footer") %>