<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./templates/head_unregistered', { title: 'Login - RentEase' }); %>
</head>
<body>
    <div class="vh-100 d-flex justify-content-center align-items-center flex-column">

        <% if (typeof(resData) !== 'undefined' && typeof(resData['signupSuccess']) !== 'undefined') { %>
            <div class="alert alert-success" role="alert">
                <%= resData['signupSuccess'] %>
            </div>
        <% } %>

        <h1 class="mb-3">RentEase Login</h1>

        <div class="form-wrapper w-100 mx-auto">
            <form id="login-form" class="bg-body-tertiary border p-5 rounded-3 mb-3" method="POST" action="/login">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email-input" name="email" placeholder="Email" maxlength="150" required>
                    <label for="email-input">Email</label>
    
                    <% if (typeof(resData) !== 'undefined' && typeof(resData['emailInvalid']) !== 'undefined') { %>
                        <p class="text-danger"><%= resData['emailInvalid'] %></p>
                    <% } %>
    
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password-input" name="password" placeholder="Password" required>
                    <label for="password-input">Password</label>
    
                    <% if (typeof(resData) !== 'undefined' && typeof(resData['passwordInvalid']) !== 'undefined') { %>
                        <p class="text-danger"><%= resData['passwordInvalid'] %></p>
                    <% } %>
    
                </div>
                <button type="submit" class="btn btn-primary btn-lg w-100" id="login-submit">Login</button>
            </form>
        </div>
        <p>Don't have an account? <a href="/signup">Signup here</a></p>
    </div>
</body>
</html>
