<%- include("templates/header_LL") %>
<div class="container">
    <h1>Invite New Tenant</h1>
    <div class="spacer">
        "Invite New Tenant" is a button to add a new tenant user.
    </div>
    <h1>List of Tenants</h1>
    <div class="spacer">
        List of tenants goes here
    </div> 
</div>


<%- include("templates/footer") %>