<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', { title: 'Tenant Dashboard' }); %>
</head>
<body>
    <h1>tenant-dashboard</h1>
    <table>
    </table>
    
</body>
</html>